.site-title {
  color: #70C247;
  margin-left: 10%;
}

.site-title a {
  color: inherit;
}

body {
  background-color: #000000;

  time {
    color: white;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  p {
    color: white;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
  }

  h2 {
    margin-bottom: 0;
    padding-bottom: 0;

    a {
      color: white;
    }
  }
}

.article-content {
  margin-left: 10%;
  color: white;
  text-align: justify;
  margin-right: 10%;

  p {

    text-align: justify;
    margin-top: 1rem;
  }

  a {
    color: #22c55e;
    text-decoration: underline;
  }

}

.article-home-list {
  margin-left: 10%;
}

.article-title {
  color: white;
  margin-left: 10%;
}
